*{
  box-sizing: border-box;
}
body {
  margin: 0;
  /*padding-top: 250px;*/
  background-color: #fff;
}
header {
  height:500px;
  /*padding-top: 50px;*/
  top: 0;
  width: 100%
}
.main-nav {
  background: #fff;
  height: 70px;
  z-index: 150;
  box-shadow: 0 2px 3px rgba(0,0,0, .4);
  position: relative;
  margin-bottom: -90px
}
.main {
  position: relative;
  padding: 110px;
  background-color: #f2f2f2;
}
/*.header img {
  float: center;
  width: 100%;
  height: 300px;
  background: #555;
}*/
.header h1 {
  position: relative;
  color: white;
  background-image: url('dist/images/coffee machine.jpg');
  float: top;
  background-repeat: repeat;
  font-size: 70px;
}

h1 {
  padding: 250px 15px;
  text-align: center;
  text-transform: uppercase;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nav {
  text-align: center;
}
#nav li {
  display: inline;
  /*float: left;*/
}
#nav a {
  /*display: block;
  width: 150px;*/
  padding:0 30px;
}
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
.panels {
  /*padding: 110px;*/
}